<li>

<p>
  <b>Time:</b>
  <%= event.time %>
</p>

<% if signed_in? %>
  <div id="n_<%=event.id%>">
  <% if current_user.freefor?(event) %>
    <%= render 'events/unjoinevent', :event=>event %>
  <% else %>
    <%= render 'events/joinevent', :event=>event %>

  <% end %>
  </div>
<% end %>

<%= link_to 'shedulebestnoclash',  shedule4eventbestnoclash_path(event) %>


</li>
