<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @event.location_id %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
