<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Homepage:</b>
  <%= @location.homepage %>
</p>

<%= render 'eventform' %>

<ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
