<h1>Listing circles</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Table</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @circles.each do |circle| %>
  <tr>
    <td><%= circle.event_id %></td>
    <td><%= circle.table %></td>
    <td><%= link_to 'Show', circle %></td>
    <td><%= link_to 'Edit', edit_circle_path(circle) %></td>
    <td><%= link_to 'Destroy', circle, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Circle', new_circle_path %>
